.left-side{
  height: 100vh;
  padding: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #30a8d5;
  color: white;
  flex-direction: column;
}
.right-side{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #052f3e;
  color: black;
  flex-direction: column;
}
.bg-danger{
  background-color: rgb(205, 58, 58)!important;
  color: white;
}
.form-items{
  display: inline-block;
  width: 100%;
  max-width: 400px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

}
